.question-container {
    width: 100%;
    
    margin-bottom: 20px;
}

.question {
    font-size: 1.6rem;
    line-height: 1.7rem;

    color: #293264;

    margin-bottom: 10px;
}

.answers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    height: 1px;
    width: 100%;
    border: 1px solid #DBDEF0;
    transform: rotate(-0.05deg);
}